**pandas Challenge Notebook File | by Tyler Hilbert | January 23, 2026**

I used comments throughout the code to explain each part. This is something I did in Emily's class and it has become a habit (it helped me reference stuff when working on later projects). If this is distracting, let me know and I can make a version w/o when I submit it!

In [1]:
#importing pandas to use it

import pandas as pd

In [2]:
#Creating the Data Frame w/ 3 columns and rows and assigning family as the variable name

data_dictionary = {"Name": ["Karla", "Shannon", "Andrew"],"State": ["Ohio","Pennsylvania","Wisconsin"], "Work": ["Kent State University", "DCSA", "SC Johnson"]}

family = pd.DataFrame(data_dictionary)

In [3]:
#Running the variable to show the DataFrame

family

      Name         State                   Work
0    Karla          Ohio  Kent State University
1  Shannon  Pennsylvania                   DCSA
2   Andrew     Wisconsin             SC Johnson

In [4]:
#I wasn't sure if you wanted to just see the column names or just the function - I used the .head function which can show the first five rows, but specified 0 so you can see what the column headers are.

family.head(0)

Empty DataFrame
Columns: [Name, State, Work]
Index: []

In [5]:
#Showing the index of the data

family.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
#Showing just the first column

family["Name"]

0      Karla
1    Shannon
2     Andrew
Name: Name, dtype: object

In [7]:
#Showing just the first row

family.loc[0]

Name                     Karla
State                     Ohio
Work     Kent State University
Name: 0, dtype: object

In [8]:
#Below is flipping the content and writing it as a list instead of a dictionary. Changed the variable to family2 to not rewrite the original variable

data_list = [{"Name":"Karla", "State":"Ohio","Work":"Kent State University"}, {"Name":"Shannon", "State":"Pennsylvania","Work":"DCSA"}, {"Name":"Andrew", "State":"Wisconsin","Work":"SC Johnson"}]

family2 = pd.DataFrame(data_list)

In [9]:
#Calling the variable to make sure it is operating

family2

      Name         State                   Work
0    Karla          Ohio  Kent State University
1  Shannon  Pennsylvania                   DCSA
2   Andrew     Wisconsin             SC Johnson

In [10]:
#in class you mentioned doing "family.write_csv()" - I tried that but it didn't work. The pandas file references using "to" in place of "write." Not sure if this is an issue on my end or not!

family.to_csv("Hilbert-pandasChallengeCSV.csv")

#### Responding to the Murray Reading

##### Question 1 - Write/Render/Evaluate Loop
As discussed in Murray (2017) the write/render/evaluate loop is invaluable to data visualization creators. First, it allows users to speed up the process of working with large datasets by computing and reading data at a much faster pace. Additionally, it allows for quick rendering of visualizations and, when needed, remaking the visualizations in different styles to find the most effective approach. This is partly because of the binary languages of computers. Since computational systems have a limited syntax, it is easy to adjust some values to spit out something different. However, there is a time commitment to learning the syntax that not everyone has. This could limit the re-rendering part, but it would still be faster than doing it by hand.

---

##### Question 2 - Why Dynamic, Interactive Data Visualizations are Useful for Communicating Data
Data visualizations that are both dynamic and interactive are useful for communicating data since they are accessible to the largest population possible. Adhering to Shneiderman's mantra (Murray, 2017), there are some users who are interested in the broad overview of data and do not see value in digging deep into the data. However, by having the interactive elements available to users, the tool becomes valuable to those who need to drill down and see specific data points.

---

##### Question 3 - Murray and Open-Source Tools
I can agree with Murray's sentiment on open-source tools to a point. Open-source tools allow for more customization than proprietary software can, leading to more complex, interactive visualizations. However, I think it really depends on the environment in which they are being used. Approaching this from my experience in higher education, having a lot of "homegrown" tools can be valuable since it can meet a niche need of the organization. However, if only one person has training to operate that tool and leaves, it puts pressure on the unit to hire someone who can continue that work and understand the language(s) used to manage the tool. Because of this, I think proprietary software may be better in some cases since it could be more approachable to less "techie" people.

---

##### Citations
Murray, S. (2017). *Interactive data visualization for the web: An introduction to designing with d3* (2nd ed.). O'Reilly.